APP_DEBUG = true
[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[LANG]
default_lang = zh-cn

[DATABASE]
TYPE = mysql
HOSTNAME = localhost
DATABASE = novelcore
USERNAME = novelcore
PASSWORD = XK6MemT8cDSkHRyp
PREFIX = nc_
HOSTPORT = 3306
CHARSET = utf8mb4
DEBUG = true

[CACHE]
driver = redis
IS_CACHE = true

[REDIS]
HOST = 127.0.0.1
PORT = 6379
#PASSWORD = 12345
SELECT = 12
TIMEOUT = 0
EXPIRE = 0
PREFIX = nc_

[JWT]
SECRET = changeme
ISSUER = NovelCoreAdmin
AUDIENCE = NovelCoreAdminAPI
TTL = 3600
LEEWAY = 0

